@import "../../shared/styles/mixins";

.auth-form {
  min-height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    width: 30%;

    @include respond(tab-land){
      width: 60%;
    }

    @include respond(phone){
      width: 90%;
    }
    .mat-mdc-card-title {
      text-align: center;
      font-size: 2rem;
      padding: 10px;
      margin-top: 20px;
    }
  }
}
